

<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Eat-Da-Burger</h1>
      <p class="lead">Click on a burger to devour it or add a new burger!</p>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" id="burgerName" name="burger_name" placeholder="Add a burger"
          aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="add">Add a burger</button>
      </form>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading" id="leftside"><strong>Burgers ready to be devoured!</strong>
      </div>
      <div class="panel-body">

        <ul>
          {{#each burgers}}
          {{#unless devoured}}

          <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
          <button type="button" class="eatburger btn btn-warning btn-lrg" type="submit" id="eatburger" data-id="{{this.id}}"
            data-newDevoured="{{devour}}"><span class="fas fa-hamburger"></span></button>
          <hr>
          {{/unless}}
          {{/each}}
        </ul>

      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading" id="rightside"><strong>Devoured burgers</strong>
      </div>
      <div class="panel-body">
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
          <button type="button" class="deleteBurger btn btn-danger" type="submit" id="deleteBurger" data-id="{{this.id}}"
            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
          <hr>
          {{/if}}
          {{/each}}
        </ul>



      </div>
    </div>
  </div>

</div>